html { margin: 0; padding: 0;}
#app { margin: 0; }
/*responsive*/
@media screen and (max-width: 490px){
    nav{
        position:absolute;
        top:100%;
        left:0;
        background: #232220;
        width:100%;
        display: none;
    }
    nav ul li {
        display:block !important;
        margin:23px 20px !important;
    }
    nav ul li a {
        color:#fff !important;
    }
   
    .menu-icon{
        display: block;
        position: absolute;
        right: 31px;
    }
     /* header .contenedor-inicio{
        flex-direction: column !important;
    }  */
    header .titular , header .imagen{
        width: 50% !important;
    }
   
}
